
<head></head>

<div class="bg-home">
    <header>
      <main class="hero container" data-aos="fade-up" data-aos-delay="400">
        <h1>DESPERTE OPORTUNIDADES ILIMITADAS!<br> CADASTRE SEU CURRÍCULO AGORA E ABRA PORTAS PARA O SEU FUTURO!</h1>
      </main>

    </header>


  </div>

  <!-- ABOUT -->
  <section class="about">
    <div class="container about-content">
      <div data-aos="zoom-in" data-aos-delay="100">
        <img 
          src="../../../assets/sobre1.png" 
          alt="Imagem sobre o projeto"
        />
      </div>

      <div
      class="about-description"
      data-aos="zoom-out-left" data-aos-delay="250">
        <h2>BOTO COR DE ROSA</h2>
        <p>Bem-vindo ao sistema Boto Cor de Rosa! Se você está em busca de oportunidades de emprego e deseja aproveitar ao máximo esta ferramenta para enviar seu currículo do LinkedIn para avaliação de recrutadores, não perca tempo! Acesse agora o seu LinkedIn, atualize todas as suas informações (lembrando que é obrigatório preencher todos os campos) e baixe o PDF do seu perfil diretamente no LinkedIn. Em seguida, cadastre-se imediatamente em nosso site para ampliar suas chances de sucesso no mercado de trabalho. Não deixe para depois, sua próxima grande oportunidade pode estar apenas a um clique de distância!</p>
        <p><strong>cadastre-se já</strong></p>
      </div>

    </div>
  </section>



  <section class="services">

    <div class="services-content container">
      <h2>MOTO ACADEMY 3.0</h2>
      <p>Este projeto é parte integrante do curso Motoacademy WEB Fullstack, sediado no Instituto Eldorado de Pesquisa em Manaus. Criado com o objetivo de colocar em prática todo o conhecimento adquirido pelos quatro integrantes do curso de WEB Fullstack, o Boto Cor de Rosa é mais do que uma plataforma de cadastro de currículos. É o resultado do esforço e dedicação de uma equipe comprometida em desenvolver habilidades e oferecer soluções inovadoras no mundo digital. Junte-se a nós nessa jornada e faça parte dessa experiência única de aprendizado e crescimento profissional.</p><br>
      <h4>integrantes:</h4>
    </div>

    <section class="integrantes">


      <!-- integrante livia -->
        <div class="integrante" data-aos="fade-up" data-aos-delay="150">
            <img
            src="../../../assets/livia.png"
            alt="Foto da integrante Lívia"
            />
            <div class="integrante-info">
                
                <button>
                    <a href="https://www.linkedin.com/in/livia-silva-de-oliveira-367612227/" target="_blank"><strong>Lívia Silva de Oliveira</strong></a>
                  </button>
            </div>
        </div>
        


        <!-- integrante richard -->
        <div class="integrante" data-aos="fade-up" data-aos-delay="150">
            <img
              src="../../../assets/richard.jpeg"
              alt="Foto da integrante Richard"
            />
            <div class="integrante-info">
                
              <button>
                <a href="https://www.linkedin.com/in/richard-clarindo/" target="_blank"><strong>Richard Clarindo</strong></a>
              </button>
            </div>
        </div>

        <!-- integrante victor vasconcelos -->
        <div class="integrante" data-aos="fade-up" data-aos-delay="150">
            <img
              src="../../../assets/victor.jpeg"
              alt="Foto da integrante Victor"
            />
            <div class="integrante-info">
                
              <button>
                <a href="https://www.linkedin.com/search/results/all/?fetchDeterministicClustersOnly=true&heroEntityKey=urn%3Ali%3Afsd_profile%3AACoAADDPFPUBv-Hbigk32qyycUBL7ws5SvK3xYk&keywords=victor%20guilherme%20vasconcelos&origin=RICH_QUERY_TYPEAHEAD_HISTORY&position=0&searchId=fbe765d3-fd14-42fe-8c7c-db3ac63884c1&sid=ltP&spellCorrectionEnabled=true" target="_blank"><strong>Victor Vasconcelos</strong></a>
              </button>
            </div>
        </div>

        <!-- integrante victor warlison Samuel Alves Da Silva -->
        <div class="integrante" data-aos="fade-up" data-aos-delay="150">
            <img
              src="../../../assets/warlison.png"
              alt="Foto da integrante warlison"
            />
            <div class="integrante-info">
              
              <button>
                <a href="https://www.linkedin.com/in/warlison-samuel-alves-da-silva-100b3b232/?originalSubdomain=br" target="_blank"><strong>Warlison Samuel</strong></a>
              </button>
            </div>
        </div>
    </section>
</section>


<!-- FOOTER -->

<footer class="footer">
  <div>
    <img 
      src="../../../assets/logo.png" 
      alt="Logo barbearia"
    />
  </div>

  <p>Copyright 2024 | Boto_Cor_de_rosa - Todos direitos reservados.</p>
</footer>


<script>AOS.init();</script>
